.banner-image {
  .flex(row, );
  background: url(@banner-img-url) no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  margin-top: -25px;
}

.holiday-season-text {
  color: @light-color;
}

