@banner-img-url: "../images/irish_knitwear_nov19_1.jpg";
@light-color: white;

.flex(@direction: row; @justify: center;) {
  display: flex;
  flex-direction: @direction;
  justify-content: @justify;
}
