@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rab\/Sites\/irishstore\/assets\/less\/_banner\.less}line{font-family:\000031}}
.banner-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("../images/irish_knitwear_nov19_1.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  margin-top: -25px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rab\/Sites\/irishstore\/assets\/less\/_banner\.less}line{font-family:\0000310}}
.holiday-season-text {
  color: #ffffff;
}
/*# sourceMappingURL=styles.css.map */